<div class="alert alert-dismissible alert-danger d-flex flex-column flex-sm-row p-5 mb-10" *ngIf="messages?.length">
    <i class="fa fa-error fs-2hx text-light me-4 mb-5 mb-sm-0"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
    <div class="d-flex flex-column text-light pe-0 pe-sm-10">
        <h4 class="mb-1 text-dark">Errors:</h4>
        <ul>
            <li class="text-dark" *ngFor="let message of messages" [innerHTML]="message"></li>
        </ul>
    </div>
    <button type="button" class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto" data-bs-dismiss="alert" (click)="hideAlert()">
        <i class="ki-duotone ki-cross fs-1 text-danger"><span class="path1"></span><span class="path2"></span></i>
    </button>
</div>